{% extends 'base.html.twig' %}

{% block title %}{{ question.name }}{% endblock %}

{% block body %}

    <h3>Logged in as team : {{ team.name }} - <a href="{{ path('logout') }}">Logout</a></h3>

    <h1>{{ question.name | nl2br }}</h1>

    <p>Santa will give you the following rewards for answering this question:</p>

    {% set points = question.points %}
    {% if team.activeBonus %}
        {% set points = question.points * 2 %}
        <img height="64" src="{{ asset('assets/images/icons/012-star.png') }}"/>
        Active bonus: your presents are doubled!
    {% endif %}

    <p style="margin-top: 6px;">
        {% if question.bonus %}
            <img height="64" src="{{ asset('assets/images/icons/012-star.png') }}" title="Win a score multiplier!"/>
        {% endif %}

        {% include 'partials/gift-icons.html.twig' with {'points': points} %}
    </p>

    <form method="post" id="question-form">
        {% if question.isMultipleChoice() %}
            {% for key, answer in question.getAnswers() %}
                <label><input type="radio" name="answer" value="{{ key+1 }}">{{ answer }}</label>
            {% endfor %}
        {% else %}
            <input type="text" name="answer" class="long-answer" autofocus/>
        {% endif %}

        <div class="send-container">
            <button type="submit" class="glow">
                Send
            </button>
        </div>
    </form>

{% endblock %}
