{% extends 'base.html.twig' %}

{% block title %}{{ question.name }}{% endblock %}

{% block body %}

    <h3>Logged in as team : {{ team.name }} - <a href="{{ path('logout') }}">Logout</a></h3>

    <h1>{{ question.name }}</h1>

        <p>You gave a wrong answer!</p>

        <p id="countdown-banner">Wait <span id="countdown">{{ seconds }}</span> seconds</p>

        <p>Before you can try again!</p>

    <script>
        let seconds = document.getElementById("countdown").textContent;
        let countdown = setInterval(function () {
            seconds--;
            document.getElementById("countdown").textContent = seconds;
            if (seconds <= 0) {
                clearInterval(countdown);
                window.location.reload();
            }
        }, 1000);
    </script>

{% endblock %}